*{margin: 0px;padding: 0px;box-sizing: border-box;outline: none;text-decoration: none;list-style: none;}
/* start body */
body{font-family:'Abel', 'Oswald', sans-serif;max-width: 1440px;margin: 0 auto;min-height: 100vh;}
/* start header */
body header{width: 100%;height: 630px;background-image: url('\images/desktop/image-hero.jpg');background-repeat: no-repeat;background-size:round;}
    /* start container */
body header .container{width: 80%;height: 100%;margin:0 auto;position: relative;}
        /* start navbar */
body header .container .navbar{display: flex;justify-content: space-between;align-items: center;position: relative;top: 30px;}
body header .container .navbar .logo h1{color: #fff;}
            /* start list */
body header .container .navbar .list li{display: inline;}
body header .container .navbar .list li:hover a{border-bottom: 2px solid white;}
body header .container .navbar .list li a{display: inline-block;color: #fff;margin: 0px 15px;font-size: 18px;border-bottom: 2px solid transparent;}
body header .container .navbar .list li:last-child a{margin-right: 0px;}
            /* start humbrger */
body header .container .navbar .humbrger{width: 35px;height: 21px;display: none;justify-content: space-between;flex-direction: column;position:absolute;right: 0px;cursor: pointer;}
body header .container .navbar .humbrger .bar{width:100%;height:3px;border-radius:5px; background-color: #fff;}
        /* start content_text */
body header .container .content_text{position: relative;left:0px;top: 40%;padding: 20px;padding-right:30px;border: 3px solid #fff;outline: 1.5px solid #000;display: inline-block;}
body header .container .content_text h1{color: #fff;font-size: 60px;letter-spacing: 5px;line-height: 50px;-webkit-text-stroke: 1px black;}
/* end header */
/* start main */
        /* start section_1 */
main{width:100%;}
main .section_1{width: 80%;margin: auto;padding-top: 80px;display: flex;justify-content: space-between;align-items: flex-end;position: relative;}
main .section_1 .img img{width: 100%;display: block;}
main .section_1 .content_text{padding: 50px 0px 0px 50px;width: 34em;position: absolute;right: 0px;background: #fff;}
main .section_1 .content_text h1{font-size: 52px;letter-spacing: 3px;word-spacing: 10px;}
main .section_1 .content_text p{font-size: 20px;text-align: justify;}
        /* start section_2 */
main .section_2{width: 80%;margin:auto;padding: 80px 0px;}
                /* start content_top */
main .section_2 .content_top{display: flex;justify-content: space-between;align-items: center;padding-bottom: 80px;}
main .section_2 .content_top h1{font-size: 40px;}
main .section_2 .content_top input[value="SEE ALL"]{background-color: #fff;border: 1.5px solid #000;color: #000;padding:5px 25px;font-size: 20px;cursor: pointer;}
                /* start content_bottom */
main .section_2 .content_bottom{width: 100%;}
main .section_2 .content_bottom .content{display:flex;justify-content: center;align-items: center;flex-wrap: wrap;width: 100%;}
main .section_2 .content_bottom .content .img{position: relative;width: 250px;height: 450px;margin: 15px;overflow: hidden;border: 2px solid white;outline: 1px solid #000;cursor: pointer;}
main .section_2 .content_bottom .content .img:hover img{transform:scale(1.04);}
main .section_2 .content_bottom .content .img:hover .bg{background-image:linear-gradient(to top,rgba(0, 0, 0, .5),rgba(255, 255, 255, 0));}
main .section_2 .content_bottom .content .img img{position: absolute;top: 0px;width: 100%;height: 100%;transition:transform 1s;}
main .section_2 .content_bottom .content .img .bg{position: absolute;top: 0px;width: 100%;height: 100%;background-image:linear-gradient(to top,rgba(0, 0, 0, 0.3),rgba(255, 255, 255, 0.2));}
main .section_2 .content_bottom .content .img .bg h1{position: absolute;bottom: 15px;text-align: center;width: 100%;color: #fff;}
/* end main */
/* start footer */
footer{width:100%;padding: 40px;background-color:#000;}
footer .container{width:85%;margin: auto;display: flex;justify-content: space-between;align-items: center;flex-wrap: wrap;}
footer .container .content_left h2{color: #fff;}
        /* start content_left */
footer .container .content_left .list_footer{margin-top: 15px;}
footer .container .content_left .list_footer li{display: inline-block;}
footer .container .content_left .list_footer li:first-child a{margin-left: 0px;}
footer .container .content_left .list_footer li a{display: block;color: #fff;font-size: 18px;margin: 0px 5px;}
        /* start content_right */
footer .container .content_right .list_footer{float: right;}         
footer .container .content_right .list_footer li{display: inline-block;}
footer .container .content_right .list_footer li:first-child a{margin-right: 0px;}
footer .container .content_right .list_footer li a{display: block;color: #fff;font-size: 20px;margin: 0px 5px;}
footer .container .content_right p{float: right;clear: both;margin-top: 5px;}
footer .container .content_right p ,a{color: #fff;}
/* end footer */